body{
  background-color: #fff;
}

.list1{
text-align: left;
font-family: "Montserrat-Black";
font-size:1.2rem;
line-height: 2;
}

.pdf{
  color:red;
  margin:10px;
}
.heading {
  text-align: center;
  color:blue;
  font-family: "Ubuntu";
}
