
body {
  font-family: "Montserrat";
  text-align: center;

}

.colored-section{
  background-color: #85929E;
  color:#fff;
}



/* Headings */
.navbar-brand1 {
  font-family: "Calibri";
  font-size: 2.5rem;
  text-align: center;
  color:black;
  padding-top:20px;
}
.home{
  margin-top: 30px;
}





.second{
  font-family: "Montserrat-Light";
  line-height: 1;
  text-align: left;
  font-size: 2rem;

}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
  margin-top:120px;


}



/* Containers */

.container-fluid{
  padding: 7% 10%;

}

/* Sections */





/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}



.nav-item {
  padding: 0 20px;
}

.nav-link1 {
  font-size: 1.1rem;
  font-family: "Ubuntu";
  color:black;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {

  color: black;
  text-align: left;
}

#title .container-fluid {
  padding-right:100px;
  padding-left:100px;
  padding-top:2px;
  padding-bottom:2px;
}



/* Title Image */
.title-image {
  width: 100%;
  padding:5% 8%;
  margin-top:0px;
  position:relative;
  left:1000px;
  top:-400px;
}

.white-section{
  background-color: #FAEBD7;
}


.contact{
text-align: center;
padding-top:100px;
}



.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}






/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
